body{
  background-color: #f7f5ee;
}
.App{
  display: flex;
  align-items: center;
  font-size: 1em;
  flex-wrap: wrap;
  /* margin: -10px 5% 0 -10px; */
}


.item{
  display: inline-block;
  margin: 1em 0.5em 4.5em 1em;
  flex-grow: 2;
  height: 100px;
  width: 20vw;
}

h1{
  font-family: 'fantasy';
  color: #43413e;
}
